body {
  background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../public/img/background.jpg');
} 

img {
  height:300px;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
  object-fit: contain;
}

.card {
  position: relative;
}

.front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
  transform-style: preserve-3d;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  transform-style: preserve-3d;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
